body{
    background-color: rgb(36, 36, 40);
    justify-content: center;
    align-items: center;
    display: flex;
}
#inputBox{
    border: 2px solid white;
    background-color: rgb(36, 36, 40);
    border-radius: 10px;
    align-content: center;
    align-items: center;
    
   
}

#heading{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 25px;
}
#firstOctet {
    background-color: rgb(36, 36, 40);
    border-color: white;
    color: white;
    padding-bottom: 2px;
    border-radius: 5px;
    font-size: larger;
    padding-left: none;   
}

#secondOctet {
border-radius: 5px;
border-color: white;
text-shadow: none;
background-color: rgb(36, 36, 40);
color: white;
padding-bottom: 2px;
font-size: larger;

}
#thirdOctet {
color: white;
background-color: rgb(36, 36, 40);
padding-bottom: 2px;
border-color: white;
border-radius: 5px;
font-size: larger;

}
#fourthOctet{
    background-color: rgb(36, 36, 40);
    border-color: white;
    color: white;
    padding-bottom: 2px;
    border-radius: 5px;
    font-size: larger;
}


#Button{
padding-left: 20px;
padding-right: 20px;
padding-bottom: 5px;
padding-top: 5px;
margin-top: 20px;

box-shadow: none;
background-color: rgb(36, 36, 40);
border-color: white;
color: white;
border-radius: 10px;
font-size: larger;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#outputLabel{
    color: white;
    padding-left: 25px;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#answerBox{
    background-color: rgb(36, 36, 40);
    border-color: white;
    margin-left: 25px;
    margin-right: 260px;
    border-radius: 5px;
    border-color: white;
    border-top: 2px;
}
p{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: none;
}
#promtLabel{
margin-left: 25px;
}
#binaryOutput{
    border-color: white;
    background-color: rgb(36, 36, 40);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    margin-top: 0px;
}