body{
    min-height: 500px;
    background-color: rgb(36, 36, 40);
    display: flex;
    justify-content: center;
    align-items: center;
}
#inputBox{
    border: 2px solid white;
    background-color: rgb(36, 36, 40);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;

}

#heading{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    align-content: center;
    display: block;
    
  
}
#firstOctet {
    background-color: rgb(36, 36, 40);
    border-color: white;
    color: white;
    font-size: larger;
    border-radius: 5px;
    
}
#secondOctet {
    border-radius: 5px;
    border-color: white;
    background-color: rgb(36, 36, 40);
    color: white;
    font-size: larger;

}
#thirdOctet {
    color: white;
    background-color: rgb(36, 36, 40);
    border-color: white;
    border-radius: 5px;
    font-size: larger;

}
#fourthOctet{
    background-color: rgb(36, 36, 40);
    border-color: white;
    color: white;
    border-radius: 5px;
    font-size: larger;
}


#Button{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    box-shadow: none;
    background-color: rgb(36, 36, 40);
    border-color: white;
    color: white;
    border-radius: 10px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-items: center;
    align-content: center;
}

#outputLabel{
    display: block;
    color: white;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#answerBox{
    background-color: rgb(36, 36, 40);
    border-color: white;
    border-radius: 5px;
    border-color: white;
    border-top: 2px;
    justify-content: center;
    align-items: center;
    
}
p{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: none;
}
#promtLabel{
    display: block;
    
}
#binaryOutput{
    display: flex;
    border-color: white;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    

   
}
#buttonDiv{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;

}

#octetDiv{
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}